In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-12-17 04:24:06,-24.8667,113.6333,78.87,50,30,19.57
1,1,Hamilton,US,2021-12-17 04:28:56,39.1834,-84.5333,47.05,84,1,1.01
2,2,Vaini,TO,2021-12-17 04:31:22,-21.2000,-175.2000,84.36,89,20,9.22
3,3,Salinas,US,2021-12-17 04:21:32,36.6777,-121.6555,51.24,80,1,3.44
4,4,Kalmunai,LK,2021-12-17 04:31:22,7.4167,81.8167,82.09,74,98,8.01

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [17]:
## Create a Percent Humidity Heatmap

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
## Create a Percent Cloudiness Heatmap

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
## Create a Wind Speed Heatmap

In [22]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-12-17 04:24:06,-24.8667,113.6333,78.87,50,30,19.57
2,2,Vaini,TO,2021-12-17 04:31:22,-21.2000,-175.2000,84.36,89,20,9.22
4,4,Kalmunai,LK,2021-12-17 04:31:22,7.4167,81.8167,82.09,74,98,8.01
7,7,New Norfolk,AU,2021-12-17 04:31:23,-42.7826,147.0587,76.75,31,60,3.00
8,8,Rikitea,PF,2021-12-17 04:31:23,-23.1203,-134.9692,75.51,74,85,19.30
10,10,Atuona,PF,2021-12-17 04:31:23,-9.8000,-139.0333,78.15,71,23,12.28
14,14,Lorengau,PG,2021-12-17 04:21:37,-2.0226,147.2712,83.53,76,100,1.48
23,23,Kapaa,US,2021-12-17 04:31:26,22.0752,-159.3190,78.78,82,20,10.36
24,24,Sinnamary,GF,2021-12-17 04:31:27,5.3833,-52.9500,76.77,90,94,6.02
27,27,Bengkulu,ID,2021-12-17 04:26:27,-3.8004,102.2655,75.97,92,100,1.92

In [25]:
preferred_cities_df.count()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0     Carnarvon      AU     78.87 -24.8667  113.6333
2         Vaini      TO     84.36 -21.2000 -175.2000
4      Kalmunai      LK     82.09   7.4167   81.8167
7   New Norfolk      AU     76.75 -42.7826  147.0587
8       Rikitea      PF     75.51 -23.1203 -134.9692
10       Atuona      PF     78.15  -9.8000 -139.0333
14     Lorengau      PG     83.53  -2.0226  147.2712
23        Kapaa      US     78.78  22.0752 -159.3190
24    Sinnamary      GF     76.77   5.3833  -52.9500
27     Bengkulu      ID     75.97  -3.8004  102.2655

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Carnarvon,AU,78.87,-24.8667,113.6333,Hospitality Carnarvon
2,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
4,Kalmunai,LK,82.09,7.4167,81.8167,VS Villa
7,New Norfolk,AU,76.75,-42.7826,147.0587,The Shingles Riverside Cottages
8,Rikitea,PF,75.51,-23.1203,-134.9692,People ThankYou
10,Atuona,PF,78.15,-9.8000,-139.0333,Villa Enata
14,Lorengau,PG,83.53,-2.0226,147.2712,Lorengau Harbourside Hotel
23,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Sinnamary,GF,76.77,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
27,Bengkulu,ID,75.97,-3.8004,102.2655,Grage Hotel Bengkulu

In [29]:
## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))