## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Weather_Database/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Ancud,CL,75.22,broken clouds,-41.8697,-73.8203,Hotel Arena Gruesa
1,7,Micheweni,TZ,81.54,light rain,-4.9667,39.8333,NaN
2,10,Rikitea,PF,74.12,overcast clouds,-23.1203,-134.9692,People ThankYou
3,15,Mataura,NZ,71.47,overcast clouds,-46.1927,168.8643,Ellie's Villa
4,17,Saint-Philippe,RE,80.19,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#2. Prompt the user to enter vacation_start/end, vacation_stop1, vacation_stop2, vacation_stop2
input("Ready to identify your vacation itinerary (Yes or No)")
vacation_start_city = input('From what city will you start your vacation? ')
vacation_stop_city = vacation_start_city
vacation_stop_1_city = input('What is the first city to stop in on your vacation? ')
vacation_stop_2_city = input('What is the second city to stop in on your vacation? ')
vacation_stop_3_city = input('What is the third city to stop in on your vacation? ')

Ready to identify your vacation itinerary (Yes or No)Empalme
From what city will you start your vacation? Cabo San Lucas
What is the first city to stop in on your vacation? Lazaro Cardenas
What is the second city to stop in on your vacation? Cozumel
What is the third city to stop in on your vacation? Celestun

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_stop_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == vacation_stop_1_city]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == vacation_stop_2_city] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == vacation_stop_3_city]

In [7]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
76,228,Cabo San Lucas,MX,79.52,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [9]:
start

(22.8909, -109.9124)

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,228,Cabo San Lucas,MX,79.52,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
1,171,Lazaro Cardenas,MX,84.92,scattered clouds,17.9583,-102.2000,quinta antigua
2,408,Cozumel,MX,84.27,broken clouds,20.5083,-86.9458,Cozumel Palace® All Inclusive Resort
3,276,Celestun,MX,81.27,scattered clouds,20.8667,-90.4000,Posada Lilia

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))