## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key
# print (g_key)

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-12-19 20:19:08,light intensity drizzle,-54.8000,-68.3000,42.46,87,75,18.41
1,1,Los Llanos De Aridane,ES,2021-12-19 20:22:14,few clouds,28.6585,-17.9182,65.95,81,20,4.00
2,2,Ancud,CL,2021-12-19 20:22:15,broken clouds,-41.8697,-73.8203,75.22,68,53,6.29
3,3,Esperance,AU,2021-12-19 20:22:15,clear sky,-33.8667,121.9000,58.44,69,0,2.37
4,4,Ciudad Bolivar,VE,2021-12-19 20:22:15,overcast clouds,8.1222,-63.5497,85.60,61,99,13.33

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for you trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for you trip?85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ancud,CL,2021-12-19 20:22:15,broken clouds,-41.8697,-73.8203,75.22,68,53,6.29
7,7,Micheweni,TZ,2021-12-19 20:22:16,light rain,-4.9667,39.8333,81.54,83,17,9.44
10,10,Rikitea,PF,2021-12-19 20:12:59,overcast clouds,-23.1203,-134.9692,74.12,84,100,17.45
15,15,Mataura,NZ,2021-12-19 20:13:00,overcast clouds,-46.1927,168.8643,71.47,42,100,11.14
17,17,Saint-Philippe,RE,2021-12-19 20:22:19,light rain,-21.3585,55.7679,80.19,80,100,2.66

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                239
City                   239
Country                236
Date                   239
Current Description    239
Lat                    239
Lng                    239
Max Temp               239
Humidity               239
Cloudiness             239
Wind Speed             239
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace=True)
clean_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ancud,CL,2021-12-19 20:22:15,broken clouds,-41.8697,-73.8203,75.22,68,53,6.29
7,7,Micheweni,TZ,2021-12-19 20:22:16,light rain,-4.9667,39.8333,81.54,83,17,9.44
10,10,Rikitea,PF,2021-12-19 20:12:59,overcast clouds,-23.1203,-134.9692,74.12,84,100,17.45
15,15,Mataura,NZ,2021-12-19 20:13:00,overcast clouds,-46.1927,168.8643,71.47,42,100,11.14
17,17,Saint-Philippe,RE,2021-12-19 20:22:19,light rain,-21.3585,55.7679,80.19,80,100,2.66
...,...,...,...,...,...,...,...,...,...,...,...
699,699,Sigli,ID,2021-12-19 20:41:11,moderate rain,5.3848,95.9609,74.19,94,100,5.75
702,702,Empalme,MX,2021-12-19 20:41:12,clear sky,27.9667,-110.8167,73.35,24,0,2.73
703,703,Salalah,OM,2021-12-19 20:41:12,scattered clouds,17.0151,54.0924,77.09,65,40,4.61
708,708,Maroantsetra,MG,2021-12-19 20:41:14,overcast clouds,-15.4333,49.7333,75.20,91,100,2.93
712,712,Conakry,GN,2021-12-19 20:41:15,haze,9.5380,-13.6773,84.27,65,4,6.91

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ancud,CL,75.22,broken clouds,-41.8697,-73.8203,
7,Micheweni,TZ,81.54,light rain,-4.9667,39.8333,
10,Rikitea,PF,74.12,overcast clouds,-23.1203,-134.9692,
15,Mataura,NZ,71.47,overcast clouds,-46.1927,168.8643,
17,Saint-Philippe,RE,80.19,light rain,-21.3585,55.7679,
22,Aborlan,PH,77.38,overcast clouds,9.4352,118.5492,
25,Boyolangu,ID,76.32,overcast clouds,-8.1181,111.8935,
29,Hermanus,ZA,74.89,overcast clouds,-34.4187,19.2345,
34,Conceicao Do Araguaia,BR,78.06,heavy intensity rain,-8.2578,-49.2647,
35,Garowe,SO,71.51,clear sky,8.4054,48.4845,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [9]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ancud,CL,75.22,broken clouds,-41.8697,-73.8203,Hotel Arena Gruesa
7,Micheweni,TZ,81.54,light rain,-4.9667,39.8333,
10,Rikitea,PF,74.12,overcast clouds,-23.1203,-134.9692,People ThankYou
15,Mataura,NZ,71.47,overcast clouds,-46.1927,168.8643,Ellie's Villa
17,Saint-Philippe,RE,80.19,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...
699,Sigli,ID,74.19,moderate rain,5.3848,95.9609,Losmen Dua Mali
702,Empalme,MX,73.35,clear sky,27.9667,-110.8167,casa alejandro lopez
703,Salalah,OM,77.09,scattered clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
708,Maroantsetra,MG,75.20,overcast clouds,-15.4333,49.7333,Annexe Vatsy Hôtel
712,Conakry,GN,84.27,haze,9.5380,-13.6773,Riviera Royal Hotel

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Ancud,CL,75.22,broken clouds,-41.8697,-73.8203,Hotel Arena Gruesa
7,Micheweni,TZ,81.54,light rain,-4.9667,39.8333,
10,Rikitea,PF,74.12,overcast clouds,-23.1203,-134.9692,People ThankYou
15,Mataura,NZ,71.47,overcast clouds,-46.1927,168.8643,Ellie's Villa
17,Saint-Philippe,RE,80.19,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...
699,Sigli,ID,74.19,moderate rain,5.3848,95.9609,Losmen Dua Mali
702,Empalme,MX,73.35,clear sky,27.9667,-110.8167,casa alejandro lopez
703,Salalah,OM,77.09,scattered clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
708,Maroantsetra,MG,75.20,overcast clouds,-15.4333,49.7333,Annexe Vatsy Hôtel
712,Conakry,GN,84.27,haze,9.5380,-13.6773,Riviera Royal Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Weather_Database/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))